# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Logs
*.log

# Python coverage
.coverage
htmlcov/

# Environment variables
.env
.env.*

# Kubernetes
kubeconfig

# Mac/Linux
*.swp